




#header-wrapper,#sidebar-far-right,#sidebar-right,#pre-content,#footer,a#ebrief-footer,div#disqus_thread,div.share-this-cns,#admin-toolbar,div#admin-toolbar,div#admin-toolbar.vertical,iframe,#block-block-31,img,div.block,.links,.tags{display:none !important;}body{width:90%;}#main,.container-16 .grid-11{width:95% !important;}.print-logo{display:inline-block;}.print-hr{display:none;}.print-site_name{display:inline-block;}.print-created{display:none;}.print-breadcrumb{display:none;}.print-submitted{display:none;}.print-content .ad-content{display:none;}.print-links{display:none;}.print-footer{display:none;}
